<%- include('../resources/includes/head') %>

    <body>
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
            <%- include('../resources/includes/header') %>
                <%- include('../resources/includes/sidebar') %>

                    <div id="content" class="content">
                        <ol class="breadcrumb float-xl-right">
                            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Ajustes</li>
                        </ol>
                        <h1 class="page-header">Configuración del Sistema <small>ajustes generales</small></h1>

                        <div class="row">
                            <!-- General -->
                            <div class="col-xl-3 col-md-6">
                                <a href="/settings/general" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-blue">
                                        <div class="stats-icon"><i class="fa fa-cogs"></i></div>
                                        <div class="stats-info">
                                            <h4>GENERAL</h4>
                                            <p>Configuración básica</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Empresa -->
                            <div class="col-xl-3 col-md-6">
                                <a href="/settings/company" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-purple">
                                        <div class="stats-icon"><i class="fa fa-building"></i></div>
                                        <div class="stats-info">
                                            <h4>EMPRESA</h4>
                                            <p>Datos y Logos</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Facturación -->
                            <div class="col-xl-3 col-md-6">
                                <a href="/settings/billing" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-green">
                                        <div class="stats-icon"><i class="fa fa-file-invoice-dollar"></i></div>
                                        <div class="stats-info">
                                            <h4>FACTURACIÓN</h4>
                                            <p>Impuestos y Moneda</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- API / Webhooks -->
                            <div class="col-xl-3 col-md-6">
                                <a href="/settings/api" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-orange">
                                        <div class="stats-icon"><i class="fa fa-plug"></i></div>
                                        <div class="stats-info">
                                            <h4>INTEGRACIONES</h4>
                                            <p>API y Webhooks</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Usuarios (Placeholder) -->
                            <div class="col-xl-3 col-md-6">
                                <a href="/users" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-black">
                                        <div class="stats-icon"><i class="fa fa-users"></i></div>
                                        <div class="stats-info">
                                            <h4>USUARIOS</h4>
                                            <p>Gestión de personal</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Plantillas (Placeholder) -->
                            <div class="col-xl-3 col-md-6">
                                <a href="javascript:;" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-red">
                                        <div class="stats-icon"><i class="fa fa-envelope-open-text"></i></div>
                                        <div class="stats-info">
                                            <h4>PLANTILLAS</h4>
                                            <p>Mensajes y Correos</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Copias de Seguridad (Placeholder) -->
                            <div class="col-xl-3 col-md-6">
                                <a href="javascript:;" class="widget-card-link">
                                    <div class="widget widget-stats bg-gradient-indigo">
                                        <div class="stats-icon"><i class="fa fa-database"></i></div>
                                        <div class="stats-info">
                                            <h4>BACKUPS</h4>
                                            <p>Copias de seguridad</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
        </div>

        <%- include('../resources/includes/footer') %>

            <style>
                .widget-card-link {
                    text-decoration: none;
                    color: inherit;
                    transition: transform 0.2s;
                    display: block;
                }

                .widget-card-link:hover {
                    transform: translateY(-5px);
                    text-decoration: none;
                    color: inherit;
                }
            </style>
