<script> const base_url = "<%= typeof base_url !== 'undefined' ? base_url : '' %>"; </script>
<script src="/public/js/app.min.js"></script>
<script src="/public/js/functions.js"></script>
<script src="/public/js/jquery-confirm.min.js"></script>
<script src="/public/bookstores/parsleyjs/parsley.js"></script>
<script src="/public/bookstores/gritter/js/jquery.gritter.min.js"></script>
<script src="/public/bookstores/DataTables/datatables.min.js"></script>
<script src="/public/bookstores/select2/js/select2.min.js"></script>
<script src="/public/bookstores/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/public/bookstores/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<% if (typeof page_functions_js !=='undefined' && page_functions_js) { %>
    <script src="/public/js/functions/<%= page_functions_js %>?v=<%= Date.now() %>"></script>
    <% } %>

        <script>
            // Custom sidebar submenu handler - overrides app.min.js behavior
            $(document).ready(function () {
                // Delay to ensure app.min.js has loaded first
                setTimeout(function () {
                    // Fix initial state for active submenus
                    var activeSub = $('.sidebar .nav > li.has-sub.active');
                    if (activeSub.length) {
                        var subMenu = activeSub.find('.sub-menu');
                        subMenu.css('display', 'block');
                        activeSub.addClass('expand');
                    }

                    // Remove any existing click handlers from app.min.js and add our own
                    $('.sidebar .nav > li.has-sub > a').off('click').on('click', function (e) {
                        e.preventDefault();
                        e.stopImmediatePropagation();

                        var target = $(this).next('.sub-menu');
                        var parent = $(this).parent('li');

                        if (parent.hasClass('expand')) {
                            // Closing the submenu
                            parent.removeClass('expand');
                            target.stop(true, true).slideUp(250);
                        } else {
                            // Opening the submenu
                            parent.addClass('expand');
                            target.stop(true, true).slideDown(250);
                        }

                        return false;
                    });
                }, 150); // Slightly longer delay to ensure app.min.js is fully initialized
            });
        </script>
        </body>

        </html>