<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="<%= typeof DEVELOPER !== 'undefined' ? DEVELOPER : '' %>">
    <meta name="theme-color" content="#00acac">
    <% let favicon='/public/images/logotypes/favicon.png' ; if (typeof business !=='undefined' && business &&
        business.favicon) { if (business.favicon==='favicon.png' ) { favicon='/public/images/logotypes/' +
        business.favicon; } else { favicon='/public/uploads/business/' + business.favicon; } } %>
        <link rel="icon" type="image/x-icon" href="<%= favicon %>">
        <link rel="stylesheet" href="/public/css/default/app.min.css">
        <link rel="stylesheet" href="/public/css/jquery-confirm.min.css">
        <link rel="stylesheet" href="/public/bookstores/gritter/css/jquery.gritter.css">
        <link rel="stylesheet" href="/public/bookstores/DataTables/datatables.min.css">
        <link rel="stylesheet" href="/public/bookstores/select2/css/select2.min.css">
        <link rel="stylesheet" href="/public/bookstores/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="/public/css/custom.css">
        <link rel="stylesheet" href="/public/css/mikrowisp-network.css">
        <title>
            <%= typeof page_name !=='undefined' ? page_name : 'Sistema' %>
        </title>
</head>