Options All -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^tudominio\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.juan.wisppro\.net$
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://juan.wisppro.net/$1 [R=301,L,NE]
php_flag display_errors off

